button {
    outline: 3px ridge #3882f6;
    border-radius: 2rem;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.subsection1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FaF8;
}

.subsection2 {
    font-size: 18px;
    color: #E5E7EB;
}

.first {
    background-color: #3882F6;
    color: #F9FaF8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
}

.topsection {
    display: flex;
    background-color: #1F2937;
    padding-bottom: 28px;
}

.header {
    font-size: 24px;
    color: #F9FaF8;
    font-weight: 900;
    margin: auto;
    padding: 16px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    margin: auto;
    margin-bottom: 16px;
 
}

.textbox1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
    padding-top: 28px;
    width: 400px;

}

.wrapper {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.placeholder {
    background-color: grey;
    color: white;
    display: flex;
    padding: 100px;
    margin: 28px;
    
}

.textheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
}


.block {
    border-radius: 25px;
    border: 5px solid #3882f6;
    width: 200px;
    height: 150px;
    
}

.blocktext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.griddy {
    display: grid;
    height: 20vh;
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px 10px;
    margin: 35px;
    justify-content: center;
    align-content: center;
}

.bigwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;

}

.wrappy {
    background-color: #E5E7EB;
    padding: 98px;
    margin: 60px 0px 35px 0px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-size: 36px;
    
    
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;

}